@using Moderno.Web.ClassHelpers
@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var home = CurrentPage.AncestorOrSelf(1);
    var current = (IPublishedContent)CurrentPage;
    var introImage = Umbraco.TypedMedia(current.GetPropertyValue<int>("introImage"));
    var companyImage = Umbraco.TypedMedia(current.GetPropertyValue<int>("companyImage"));
    var companyItems = current.Descendants("companyItem").OrderByDescending(x => x.SortOrder);
}

<div class="wrap__company">
    <div class="company__team">
        <div class="companu__team_image">
            <img class="img-full" src="@(introImage != null ? introImage.GetCropUrl(1500, 837, furtherOptions: "&slimmage=true") : "/images/no-image.png?anchor=center&mode=BoxPad&width=1040&height=580&bgcolor=fff&slimmage=true&rnd=" + current.UpdateDate.ToString("ddMMyyyhhmmss"))" alt="Moderno" />
        </div>
    </div>
    @Html.Partial("~/Views/Partials/Layout/_SocialMedia.cshtml")
    <div class="company__team">
        <div class="companu__team_image">
            <img class="img-full" src="@(companyImage != null ? companyImage.GetCropUrl(1500, 837, furtherOptions: "&slimmage=true") : "/images/no-image.png?anchor=center&mode=BoxPad&width=1040&height=580&bgcolor=fff&slimmage=true&rnd=" + current.UpdateDate.ToString("ddMMyyyhhmmss"))" alt="@current.GetPropertyValue("companyTitle")" />
            @if (!string.IsNullOrEmpty(current.GetPropertyValue<string>("companyTitle")))
            {
                <p>@current.GetPropertyValue("companyTitle")</p>
            }
        </div>
    </div>
    <div class="company__team_trip-grid">
        @if (companyItems != null && companyItems.Any())
        {
            var items = companyItems.ToList().Partition(5).ToList();
            foreach (var child in items)
            {
                foreach (var item in child)
                {
                    var thumb = Umbraco.TypedMedia(item.GetPropertyValue<int>("image"));
                    <div class="item item-@(child.IndexOf(item) + 1) hover__15">
                        <a data-fancybox="gallery" href="@(thumb != null ? thumb.Url : "/images/no-image.png")" data-caption="@item.Name">
                            @if (child.IndexOf(item) == 1)
                            {
                                <img class="lazyload" data-original="@(thumb != null ? thumb.GetCropUrl(797, 512, furtherOptions: "&slimmage=true") : "/images/no-image.png?anchor=center&mode=BoxPad&width=529&height=340&bgcolor=fff&slimmage=true&rnd=" + current.UpdateDate.ToString("ddMMyyyhhmmss"))" alt="@item.Name" />
                            }
                            else if (child.IndexOf(item) == 3 || child.IndexOf(item) == 4)
                            {
                                <img class="lazyload" data-original="@(thumb != null ? thumb.GetCropUrl(797, 537, furtherOptions: "&slimmage=true") : "/images/no-image.png?anchor=center&mode=BoxPad&width=505&height=340&bgcolor=fff&slimmage=true&rnd=" + current.UpdateDate.ToString("ddMMyyyhhmmss"))" alt="@item.Name" />
                            }
                            else if (child.IndexOf(item) == 5)
                            {
                                <img class="lazyload" data-original="@(thumb != null ? thumb.GetCropUrl(1600, 769, furtherOptions: "&slimmage=true") : "/images/no-image.png?anchor=center&mode=BoxPad&width=1040&height=500&bgcolor=fff&slimmage=true&rnd=" + current.UpdateDate.ToString("ddMMyyyhhmmss"))" alt="@item.Name" />
                            }
                            else
                            {
                                <img class="lazyload" data-original="@(thumb != null ? thumb.GetCropUrl(396, 511, furtherOptions: "&slimmage=true") : "/images/no-image.png?anchor=center&mode=BoxPad&width=263&height=340&bgcolor=fff&slimmage=true&rnd=" + current.UpdateDate.ToString("ddMMyyyhhmmss"))" alt="@item.Name" />
                            }
                        </a>
                    </div>
                }
            }
        }
    </div>
    @Html.Partial("~/Views/Partials/_Recruitment.cshtml")
    <div class="wrap__google-maps">
        @Html.Raw(home.GetPropertyValue("googleMaps"))
    </div>
</div>
@Html.Partial("~/Views/Partials/Layout/_Footer.cshtml")
