@inherits UmbracoTemplatePage
@{
    var home = CurrentPage.AncestorOrSelf(1);
    var logo = Umbraco.TypedMedia(home.GetPropertyValue<int>("logo"));
}

<div class="company__info">
    <div class="company__info-address d-inline-block">
        <ul itemscope itemtype="https://schema.org/Organization">
            <li>
                <i class="mysprite ct-phone"></i>
                <div class="text">
                    <a href="tel:@(!string.IsNullOrEmpty(home.GetPropertyValue<string>("phoneNumber")) ? home.GetPropertyValue<string>("phoneNumber").Replace(" ","") : "")" itemprop="telephone">@home.GetPropertyValue("phoneNumber")</a>
                </div>
            </li>
            <li>
                <i class="mysprite ct-mail"></i>
                <div class="text">
                    <a href="mailto:@(home.GetPropertyValue<string>("email").Trim())" itemprop="email">@(home.GetPropertyValue<string>("email").Trim())</a>
                </div>
            </li>
            <li>
                <i class="mysprite ct-address"></i>
                <div class="text" itemprop="address">
                    Địa chỉ: @home.GetPropertyValue("address")
                </div>
            </li>
            <li>
                <i class="mysprite ct-openclose"></i>
                <div class="text" itemscope itemtype="https://schema.org/OpeningHoursSpecification">
                    <Text itemprop="name">Open - Close:</Text>
                    <time itemprop="opens">@(home.GetPropertyValue<string>("openCloseTime").Split('-')[0])</time>-<time itemprop="closes">@(home.GetPropertyValue<string>("openCloseTime").Split('-')[1])</time>
                </div>
            </li>
        </ul>
    </div>
    <div class="company__info-social d-inline-block">
        @Html.Partial("~/Views/Partials/Layout/_SocialMedia.cshtml")
    </div>
    <div class="company__info-maps d-inline-block text-right">
        <a href="@home.Url">
            <img src="@(logo != null ? logo.Url : "/images/logo.png")" alt="Moderno" />
        </a>
    </div>
</div>