@inherits UmbracoViewPage<Moderno.Web.Models.ProjectItems>

@foreach (var item in Model.LstItems)
{
    var lstItem = new List<int> { 0, 1, 2, 3 };
    var thumb = Umbraco.TypedMedia(item.GetPropertyValue<int>("image"));
    <div class="item @(lstItem.Contains(Model.LstItems.IndexOf(item)) ? "item-1" : "item-2")">
        <div class="wrap-item">
            @if (lstItem.Contains(Model.LstItems.IndexOf(item)))
            {
                <img src="@(thumb != null ? thumb.GetCropUrl(360, 325, furtherOptions: "&slimmage=true") : "/images/no-image.png?anchor=center&mode=BoxPad&width=360&height=325&bgcolor=fff&slimmage=true&rnd=" + item.UpdateDate.ToString("ddMMyyyhhmmss"))" alt="@item.Name" />
            }
            else
            {
                <img src="@(thumb != null ? thumb.GetCropUrl(555, 500, furtherOptions: "&slimmage=true") : "/images/no-image.png?anchor=center&mode=BoxPad&width=555&height=500&bgcolor=fff&slimmage=true&rnd=" + item.UpdateDate.ToString("ddMMyyyhhmmss"))" alt="@item.Name" />
            }
            <div class="content">
                <a href="@item.Url">
                    <h1>@item.Name</h1>
                    <div class="desc">
                        <span>@item.GetPropertyValue("location")</span> | <span>@item.GetPropertyValue("acreage")</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
}