@inherits UmbracoViewPage<Moderno.Web.Models.ContactForm>
@{
}
@Html.AntiForgeryToken()
<div class="wrapper__form">
    <div class="item">
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Họ & Tên" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="item">
        @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Số điện thoại" })
        @Html.ValidationMessageFor(x => x.PhoneNumber)
    </div>
    <div class="item">
        @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="item">
        @Html.TextBoxFor(x => x.Acreage, new { placeholder = "Diện tích công trình" })
    </div>
    <div class="item item__text-area">
        @Html.TextAreaFor(x => x.Message, new { placeholder = "Ghi chú & yêu cầu" })
    </div>
</div>
<div class="loading_div"></div>