@inherits UmbracoViewPage<Moderno.Web.Models.ContactForm>
@{
}
@Html.AntiForgeryToken()
<div class="wrapper__form">
    <div class="item">
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Họ & Tên" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="item">
        @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Số điện thoại" })
        @Html.ValidationMessageFor(x => x.PhoneNumber)
    </div>
    <div class="item">
        @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="item">
        @Html.TextBoxFor(x => x.Acreage, new { placeholder = "Diện tích công trình" })
    </div>
    <div class="item">
        <div class="item-radio">
            <label>
                @Html.RadioButtonFor(x => x.CheckValue, "Tư vấn phong cách, phong thủy, vật liệu", new { @checked = "checked" })
                Tư vấn phong cách, phong thủy, vật liệu
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="item">
        <div class="item-radio">
            <label>
                @Html.RadioButtonFor(x => x.CheckValue, "Xem công trình thực tế", new {})
                Xem công trình thực tế
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="item">
        <div class="item-radio">
            <label>
                @Html.RadioButtonFor(x => x.CheckValue, "Bố trí mặt bằng, công năng, concept", new {})
                Bố trí mặt bằng, công năng, concept
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="item">
        <div class="item-radio">
            <label>
                @Html.RadioButtonFor(x => x.CheckValue, "Báo giá chi tiết thi công", new {})
                Báo giá chi tiết thi công
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</div>
<div class="loading_div"></div>